.footer-element {
	align-items: start;
	text-align: start;
	gap: 1em;
	color: var(--background-clr) !important;
}

.footer-element__title-text {
	font-weight: 500;
	color: var(--background-clr) !important;
}

.footer-element,
.footer-element--content {
	color: var(--background-clr) !important;
	display: flex;
	color: var(--background-clr) !important;
	flex-direction: column;
}
