*,
*::before,
*::after {
	box-sizing: border-box;
}

*:not(dialog) {
	margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	-webkit-font-smoothing: antialiased;
	width: 100%;
}

section {
	padding: 40px 10%;
}

a {
	text-decoration: none;
}

:root {
	--accent-clr: #a4d5eb;
	--primary-clr: #35383a;
	--primary-clr-2: #4d5153;
	--secondary-clr: #d2d2d2;
	--background-clr: #ffffff;

	--border-radius: min(10px, 10%);
}

h1 {
	font-weight: bold;
	letter-spacing: -3%;
	font-family: var(--font-kufam);
	color: var(--primary-clr);
}

h2,
h3 {
	font-weight: 400;
	font-family: var(--font-lexend);
	color: var(--primary-clr-2);
}

h6 {
	font-family: var(--font-lexend);
	font-size: 24px;
}

.highlighted {
	color: var(--accent-clr);
	font-weight: bold;
	letter-spacing: -2%;
}

.bold {
	font-weight: 500;
	color: var(--primary-clr);
}

h3.highlighted {
	font-family: var(--font-kufam);
	font-weight: 600;
	color: var(--accent-clr);
}

h6.bold {
	font-weight: 500;
}

li {
	list-style: none;
}

ul {
	margin: none;
	padding: 0;
}

textarea,
li,
label,
input,
label::placeholder,
input::placeholder,
button,
a,
p {
	font-family: var(--font-lexend);
	color: var(--primary-clr);
}

.underlined {
	position: relative !important;
}

.underlined::after {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -15px;
	color: var(--accent-clr);
	margin-inline: auto;
	width: fit-content;
}

@media screen and (min-width: 1440px) {
	h1 {
		font-size: 52px;
	}

	h2,
	h3 {
		font-size: 36px;
	}

	a,
	li,
	textarea,
	textarea::placeholder,
	p {
		font-size: 18px;
	}

	.underlined::after {
		content: "...........";
		font-size: 48px;
	}
}

@media screen and (max-width: 1440px) and (min-width: 1280px) {
	h1 {
		font-size: 48px;
	}

	h2,
	h3 {
		font-size: 32px;
	}

	li,
	p {
		font-size: 18px;
	}

	.underlined::after {
		content: "...........";
		font-size: 44px;
	}
}

@media screen and (max-width: 1280px) and (min-width: 960px) {
	h1 {
		font-size: 48px;
	}

	h2,
	h3 {
		font-size: 36px;
	}

	li,
	p {
		font-size: 12px;
	}
}

@media (width < 740px) {
	section {
		padding: 0;
	}
}
